#Dados que já vinham

{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

    <div class="dados">
        <body>
            <img src="data:image/png;base64,{{ image }}"  mimetype="image/png" alt="My plot">
        </body>
    </div>
    
{% endblock %}




#%%
# O que foi "atualizado" por mim

{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet"
href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

<div class="dados" style="text-align:center; margin-top:40px;">
<!-- Foi adicionado por mim -->

    <h1>Sales Analysis</h1>
    <!-- Foi adicionado por mim -->

    <img
        src="data:image/png;base64,{{ image }}"
        mimetype="image/png"
        alt="My plot"
    >

</div>

{% endblock %}